# 13F InfoTable with YearQuarter
This notebook reads Excel workbooks from `data/extracted_13F_HR/blackrock`, loads only the `InfoTable` sheet, and adds a `YearQuarter` column derived from the filename (e.g., `2024Q3`).

In [15]:
from pathlib import Path
import pandas as pd
import re

DATA_DIR = Path('../data/extracted_13F_HR/blackrock')
print('Data dir exists:', DATA_DIR.exists())
print('Sample files:', [p.name for p in sorted(DATA_DIR.glob('*.xlsx'))[:3]])

Data dir exists: True
Sample files: ['20240930.xlsx', '20241231.xlsx', '20250331.xlsx']

In [22]:
def year_quarter_from_filename(name: str):
    m = re.search(r'(\d{4})(\d{2})(\d{2})', name)
    if not m:
        return None
    year = int(m.group(1))
    month = int(m.group(2))
    q = (month - 1) // 3 + 1
    return f'{year}Q{q}'

files = sorted(DATA_DIR.glob('*.xlsx'))
frames = []
for f in files:
    yq = year_quarter_from_filename(f.name)
    df = None
    try:
        df = pd.read_excel(f, sheet_name='InfoTable', engine='openpyxl')
    except Exception as e:
        try:
            df = pd.read_excel(f, sheet_name='Information Table', engine='openpyxl')
        except Exception as e2:
            print(f'Skipping {f.name}: {e2}')
            continue
    df['YearQuarter'] = yq
    frames.append(df)

result = pd.concat(frames, ignore_index=True) if frames else pd.DataFrame()
print('Rows:', len(result))
result.head()

Rows: 199316

,issuer_name,class_title,cusip,value_usd_quarter_end,shares_or_principal,shares_type,discretion,other_manager_seq,vote_sole,vote_shared,vote_none,YearQuarter
0,1 800 FLOWERS COM INC,CL A,68243Q106,1769262,223110,SH,SOLE,2.0,124034,0,99076,2024Q3
1,1 800 FLOWERS COM INC,CL A,68243Q106,761,96,SH,SOLE,4.0,96,0,0,2024Q3
2,1 800 FLOWERS COM INC,CL A,68243Q106,2990,377,SH,SOLE,7.0,377,0,0,2024Q3
3,1 800 FLOWERS COM INC,CL A,68243Q106,793222,100028,SH,SOLE,18.0,74838,0,25190,2024Q3
4,1 800 FLOWERS COM INC,CL A,68243Q106,5000087,630528,SH,SOLE,19.0,630528,0,0,2024Q3

In [25]:


# 1. Get the unique class titles as a list
unique_titles = result.class_title.unique().tolist()

# 2. Define the output file name
file_name = "unique_class_titles.txt"

# 3. Write the list to the text file
try:
    with open(file_name, 'w') as f:
        # Write each title on a new line
        for title in unique_titles:
            f.write(f"{title}\n")
    print(f"Successfully saved {len(unique_titles)} unique titles to **{file_name}**")

except Exception as e:
    print(f"An error occurred while writing the file: {e}")

Successfully saved 1255 unique titles to **unique_class_titles.txt**

In [24]:
result[result.class_title == 'ACACIA TCH COM']

,issuer_name,class_title,cusip,value_usd_quarter_end,shares_or_principal,shares_type,discretion,other_manager_seq,vote_sole,vote_shared,vote_none,YearQuarter
317,ACACIA RESH CORP,ACACIA TCH COM,003881307,46157,9905,SH,SOLE,2.0,1324,0,8581,2024Q3
318,ACACIA RESH CORP,ACACIA TCH COM,003881307,506826,108761,SH,SOLE,18.0,108761,0,0,2024Q3
319,ACACIA RESH CORP,ACACIA TCH COM,003881307,388528,83375,SH,SOLE,19.0,83375,0,0,2024Q3
320,ACACIA RESH CORP,ACACIA TCH COM,003881307,6383832,1369921,SH,SOLE,21.0,1369921,0,0,2024Q3
321,ACACIA RESH CORP,ACACIA TCH COM,003881307,4709293,1010578,SH,SOLE,22.0,983145,0,27433,2024Q3
322,ACACIA RESH CORP,ACACIA TCH COM,003881307,93233,20007,SH,SOLE,43.0,19438,0,569,2024Q3
48419,ACACIA RESH CORP,ACACIA TCH COM,003881307,60040,13834,SH,SOLE,2.0,1324,0,12510,2024Q4
48420,ACACIA RESH CORP,ACACIA TCH COM,003881307,463317,106755,SH,SOLE,18.0,106755,0,0,2024Q4
48421,ACACIA RESH CORP,ACACIA TCH COM,003881307,311438,71760,SH,SOLE,19.0,71760,0,0,2024Q4
48422,ACACIA RESH CORP,ACACIA TCH COM,003881307,5807519,1338138,SH,SOLE,21.0,1338138,0,0,2024Q4
48423,ACACIA RESH CORP,ACACIA TCH COM,003881307,4192366,965983,SH,SOLE,22.0,939294,0,26689,2024Q4
48424,ACACIA RESH CORP,ACACIA TCH COM,003881307,41534,9570,SH,SOLE,43.0,9528,0,42,2024Q4
99266,ACACIA RESH CORP,ACACIA TCH COM,003881307,44269,13834,SH,SOLE,2.0,1324,0,12510,2025Q1
99267,ACACIA RESH CORP,ACACIA TCH COM,003881307,339414,106067,SH,SOLE,18.0,106067,0,0,2025Q1
99268,ACACIA RESH CORP,ACACIA TCH COM,003881307,229632,71760,SH,SOLE,19.0,71760,0,0,2025Q1
99269,ACACIA RESH CORP,ACACIA TCH COM,003881307,4157450,1299203,SH,SOLE,21.0,1299203,0,0,2025Q1
99270,ACACIA RESH CORP,ACACIA TCH COM,003881307,3091146,965983,SH,SOLE,22.0,939261,0,26722,2025Q1
99271,ACACIA RESH CORP,ACACIA TCH COM,003881307,22032,6885,SH,SOLE,43.0,6885,0,0,2025Q1
149632,ACACIA RESH CORP,ACACIA TCH COM,003881307,48609,13578,SH,SOLE,2.0,1324,0,12254,2025Q2
149633,ACACIA RESH CORP,ACACIA TCH COM,003881307,440598,123072,SH,SOLE,18.0,105008,0,18064,2025Q2
149634,ACACIA RESH CORP,ACACIA TCH COM,003881307,256901,71760,SH,SOLE,19.0,71760,0,0,2025Q2
149635,ACACIA RESH CORP,ACACIA TCH COM,003881307,4368252,1220182,SH,SOLE,21.0,1220182,0,0,2025Q2
149636,ACACIA RESH CORP,ACACIA TCH COM,003881307,3361634,939004,SH,SOLE,22.0,916015,0,22989,2025Q2
149637,ACACIA RESH CORP,ACACIA TCH COM,003881307,3970,1109,SH,SOLE,43.0,1109,0,0,2025Q2

In [18]:
result['share_price_quarter_end'] = result['value_usd_quarter_end']/result['shares_or_principal']

In [20]:
tmp1 = result[(result.class_title == "COM") & (result.share_price_quarter_end < 2)]
tmp1

,issuer_name,class_title,cusip,value_usd_quarter_end,shares_or_principal,shares_type,discretion,other_manager_seq,vote_sole,vote_shared,vote_none,YearQuarter,share_price_quarter_end
29,180 LIFE SCIENCES CORP,COM,68236V302,37,22,SH,SOLE,2.0,22,0,0,2024Q3,1.681818
30,180 LIFE SCIENCES CORP,COM,68236V302,905,542,SH,SOLE,22.0,542,0,0,2024Q3,1.669742
53,22ND CENTY GROUP INC,COM,90137F301,2004,9317,SH,SOLE,22.0,9317,0,0,2024Q3,0.215091
79,374WATER INC,COM,88583P104,9298,6837,SH,SOLE,2.0,2030,0,4807,2024Q3,1.359953
80,374WATER INC,COM,88583P104,206176,151600,SH,SOLE,18.0,151600,0,0,2024Q3,1.360000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199011,ZENTALIS PHARMACEUTICALS INC,COM,98943L107,296,255,SH,SOLE,7.0,255,0,0,2025Q2,1.160784
199012,ZENTALIS PHARMACEUTICALS INC,COM,98943L107,50655,43668,SH,SOLE,18.0,39509,0,4159,2025Q2,1.160003
199013,ZENTALIS PHARMACEUTICALS INC,COM,98943L107,23112,19924,SH,SOLE,19.0,19924,0,0,2025Q2,1.160008
199014,ZENTALIS PHARMACEUTICALS INC,COM,98943L107,550033,474166,SH,SOLE,21.0,474166,0,0,2025Q2,1.160001
199015,ZENTALIS PHARMACEUTICALS INC,COM,98943L107,1287101,1109570,SH,SOLE,22.0,1101378,0,8192,2025Q2,1.160000

In [21]:
com_less_than_2_usd = tmp1.issuer_name.unique()
com_less_than_2_usd

array(['180 LIFE SCIENCES CORP', '22ND CENTY GROUP INC', '374WATER INC',
       'ACCURAY INC', 'ACLARIS THERAPEUTICS INC',
       'ACTINIUM PHARMACEUTICALS INC', 'ACURX PHARMACEUTICALS INC',
       'ADICET BIO INC', 'AGRIFY CORP', 'AIM IMMUNOTECH INC', 'AINOS INC',
       'AKEBIA THERAPEUTICS INC', 'AKOUSTIS TECHNOLOGIES INC',
       'ALLAKOS INC', 'ALLIED GAMING & ENTRTNMNT IN', 'ALLOVIR INC',
       'ALT5 SIGMA CORP', 'ALTO INGREDIENTS INC',
       'ALX ONCOLOGY HLDGS INC', 'AMMO INC', 'AN2 THERAPEUTICS INC',
       'ANEBULO PHARMACEUTICALS INC', 'APTEVO THERAPEUTICS INC',
       'APYX MEDICAL CORPORATION', 'AQUA METALS INC',
       'AQUABOUNTY TECHNOLOGIES INC', 'ATHIRA PHARMA INC',
       'ATLANTIC AMERN CORP', 'ATOSSA THERAPEUTICS INC',
       'AUTONOMIX MED INC', 'AWARE INC MASS', 'AYRO INC',
       'BALLARD PWR SYS INC NEW', 'BARK INC', 'BEYOND AIR INC',
       'BIGBEAR AI HLDGS INC', 'BIOATLA INC', 'BIODESIX INC',
       'BIOXCEL THERAPEUTICS INC', 'BITCOIN DEPOT INC',
       'BLINK CHARGING CO', 'BLUEBIRD BIO INC',
       'BOLT BIOTHERAPEUTICS INC', 'BRAND ENGAGEMENT NETWORK INC',
       'CARA THERAPEUTICS INC', 'CARIBOU BIOSCIENCES INC',
       'CARISMA THERAPEUTICS INC', 'CARMELL CORPORATION',
       'CARPARTS COM INC', 'CENNTRO INC', 'CENTURY THERAPEUTICS INC',
       'CERUS CORP', 'CHEGG INC', 'CHIMERIX INC',
       'CLEAR CHANNEL OUTDOOR HLDGS', 'CLEARSIDE BIOMEDICAL INC',
       'CLEARSIGN TECHNOLOGIES CORP', 'CO-DIAGNOSTICS INC',
       'COGNITION THERAPEUTICS INC', 'COHERUS BIOSCIENCES INC',
       'COMPASS THERAPEUTICS INC', 'CONDUIT PHARMACEUTICALS INC',
       'CONTEXT THERAPEUTICS INC', 'COSMOS HEALTH INC',
       'CPS TECHNOLOGIES CORP', 'CUE BIOPHARMA INC',
       'CUMBERLAND PHARMACEUTICALS I', 'CUTERA INC',
       'CYTOMX THERAPEUTICS INC', 'D-WAVE QUANTUM INC',
       'DAWSON GEOPHYSICAL CO NEW', 'DENISON MINES CORP', 'DHI GROUP INC',
       'DOUGLAS ELLIMAN INC', 'DRAGONFLY ENERGY HOLDINGS CO',
       'DYADIC INTL INC DEL', 'EKSO BIONICS HLDGS INC',
       'ELEVATION ONCOLOGY INC', 'ENERGY VAULT HOLDINGS INC',
       'ENSYSCE BIOSCIENCES INC', 'ENVIVA INC', 'ENZO BIOCHEM INC',
       'EPICQUEST EDUCATN GRP INTL L', 'EQUILLIUM INC',
       'ESPERION THERAPEUTICS INC NE', 'ESTRELLA IMMUNOPHARMA INC',
       'EYENOVIA INC', 'FARMER BROS CO', 'FEMASYS INC', 'FIBROGEN INC',
       'FOCUS UNVL INC', 'FORGE GLOBAL HOLDINGS INC', 'FOSSIL GROUP INC',
       'FRANKLIN STR PPTYS CORP', 'FTC SOLAR INC', 'FUBOTV INC',
       'FUEL TECH INC', 'FUELCELL ENERGY INC', 'FUNDAMENTAL GLOBAL INC',
       'GAIN THERAPEUTICS INC', 'GAMESQUARE HLDGS INC', 'GEE GROUP INC',
       'GLATFELTER CORPORATION', 'GLIMPSE GROUP INC', 'GLOBALSTAR INC',
       'GLYCOMIMETICS INC', 'GOLD RESOURCE CORP', 'GOLDEN MINERALS CO',
       'GOSSAMER BIO INC', 'GRAFTECH INTL LTD',
       'GREENWAVE TECHNOLOGY SOLUTIO', 'GRITSTONE BIO INC',
       'GRYPHON DIGITAL MNG INC', 'GULF RES INC', 'HCW BIOLOGICS INC',
       'HERITAGE GLOBAL INC', 'HERON THERAPEUTICS INC', 'HILLEVAX INC',
       'HOUSTON AMERN ENERGY CORP', 'HYDROFARM HLDGS GROUP INC',
       'I-80 GOLD CORP', 'IKENA ONCOLOGY INC', 'ILEARNINGENGINES INC',
       'IMMIX BIOPHARMA INC', 'IMMUNIC INC', 'IMUNON INC', 'IN8BIO INC',
       'INOTIV INC', 'INTEGRA RES CORP', 'INTRUSION INC', 'INVIVYD INC',
       'IRIDEX CORP', 'KALTURA INC', 'KARYOPHARM THERAPEUTICS INC',
       'KEZAR LIFE SCIENCES INC', 'KOPIN CORP', 'KRONOS BIO INC',
       'KULR TECHNOLOGY GROUP INC', 'LANZATECH GLOBAL INC',
       'LAZYDAYS HLDGS INC', 'LINEAGE CELL THERAPEUTICS IN',
       'LIVEONE INC', 'LIVEPERSON INC', 'LOOP INDS INC',
       'LUCID DIAGNOSTICS INC', 'LULUS FASHION LOUNGE HOLDING',
       'LYELL IMMUNOPHARMA INC', 'LYRA THERAPEUTICS INC',
       'MEGA MATRIX CORP', 'MERSANA THERAPEUTICS INC',
       'MICROVAST HOLDINGS INC', 'MILESTONE PHARMACEUTICALS IN',
       'MINK THERAPEUTICS INC', 'MOVANO INC', 'NANOVIRICIDES INC',
       'NEKTAR THERAPEUTICS', 'NETWORK-1 TECHNOLOGIES INC',
       'NEURONETICS INC', 'NEXTCURE INC', 'NINE ENERGY SERVICE INC',
       'NKGEN BIOTECH INC', 'NOVA LIFESTYLE INC', 'OCEAN BIOMEDICAL INC',
       'OCUGEN INC', 'OCUPHIRE PHARMA INC', 'OPKO HEALTH INC',
       'OPTINOSE INC', 'ORAGENICS INC', 'ORIGIN MATERIALS INC',
       'ORION ENERGY SYS INC', 'OUTSET MED INC', 'OVID THERAPEUTICS INC',
       'PACIFIC BIOSCIENCES CALIF IN', 'PARAMOUNT GOLD NEV CORP',
       'PASSAGE BIO INC', 'PLATINUM GROUP METALS LTD', 'PLBY GROUP INC',
       'PLUS THERAPEUTICS INC', 'PMV PHARMACEUTICALS INC',
       'PODCASTONE INC', 'POLAR PWR INC', 'PORCH GROUP INC', 'POWER REIT',
       'PRECIGEN INC', 'PROFIRE ENERGY INC',
       'PROTALIX BIOTHERAPEUTICS INC', 'PURPLE INNOVATION INC',
       'QUANTUM COMPUTING INC', 'QUINCE THERAPEUTICS INC',
       'RALLYBIO CORP', 'REALPHA TECH CORP', 'REGULUS THERAPEUTICS INC',
       'REKOR SYSTEMS INC', 'RENEO PHARMACEUTICALS INC', 'RENOVARO INC',
       'RETRACTABLE TECHNOLOGIES INC', 'REVIVA PHARMACEUTCLS HLDGS I',
       'RIMINI STR INC DEL', 'RING ENERGY INC', 'RYVYL INC',
       'S&W SEED CO', 'SADOT GROUP INC', 'SAFE & GREEN DEV CORP',
       'SANGAMO THERAPEUTICS INC', 'SCILEX HOLDING CO',
       'SENSEONICS HLDGS INC', 'SERES THERAPEUTICS INC',
       'SKYX PLATFORMS CORP', 'SMART SAND INC', 'SOLIDION TECHNOLOGY INC',
       'SOLITARIO RESOURCES CORP', 'SPERO THERAPEUTICS INC',
       'SPRUCE BIOSCIENCES INC', 'STANDARD BIOTOOLS INC',
       'STANDARD LITHIUM LTD', 'STEM INC', 'STREAMLINE HEALTH SOLUTIONS',
       'SUPER LEAGUE ENTERPRISE INC', 'SYPRIS SOLUTIONS INC',
       'TELLURIAN INC NEW', 'TEMPEST THERAPEUTICS INC',
       'TENAYA THERAPEUTICS INC', 'TERRAN ORBITAL CORPORATION',
       'TEVOGEN BIO HLDGS INC', 'THE ARENA GROUP HOLDINGS INC',
       'THE MARYGOLD COMPANIES INC', 'THE ONCOLOGY INSTITUTE INC',
       'TIGO ENERGY INC', 'TILRAY BRANDS INC',
       'TMC THE METALS COMPANY INC', 'TURNSTONE BIOLOGICS CORP',
       'U S ENERGY CORP DEL', 'UNICYCIVE THERAPEUTICS INC',
       'UNITED STATES ANTIMONY CORP', 'UR-ENERGY INC', 'USIO INC',
       'VERRICA PHARMACEUTICALS INC', 'VERU INC', 'VICINITY MOTOR CORP',
       'VILLAGE FARMS INTL INC', 'VIRACTA THERAPEUTICS INC',
       'VIRIOS THERAPEUTICS INC', 'VOLITIONRX LTD', 'VOR BIOPHARMA INC',
       'VYNE THERAPEUTICS INC', 'WESTERN COPPER & GOLD CORP',
       'WM TECHNOLOGY INC', 'WRAP TECHNOLOGIES INC', 'WW INTL INC',
       'X4 PHARMACEUTICALS INC', 'XBP EUROPE HOLDINGS INC',
       'XILIO THERAPEUTICS INC', 'XTI AEROSPACE INC', 'ZOMEDICA CORP',
       'ACUMEN PHARMACEUTICALS INC', 'AGILON HEALTH INC', 'ALECTOR INC',
       'APPLIED THERAPEUTICS INC', 'ARMATA PHARMACEUTICALS INC',
       'AYTU BIOPHARMA INC', 'BABCOCK & WILCOX ENTERPRISES',
       'BARNWELL INDS INC', 'BATTALION OIL CORP',
       'BIG 5 SPORTING GOODS CORP', 'BITFARMS LTD', 'CANOO INC',
       'CLIMB BIO INC', 'DIANA SHIPPING INC', 'DOLPHIN ENTMT INC',
       'EDITAS MEDICINE INC', 'FATE THERAPEUTICS INC',
       'FATHOM HOLDINGS INC', 'GENERATION BIO CO',
       'GOLDEN MATRIX GROUP INC', 'GROWGENERATION CORP',
       'INTENSITY THERAPEUTICS INC', 'KIRKLANDS INC', 'LIQTECH INTL INC',
       'MAIA BIOTECHNOLOGY INC', 'MOLECULIN BIOTECH INC',
       'MULTISENSOR AI HOLDINGS INC', 'NAUTILUS BIOTECHNOLOGY INC',
       'NEW FOUND GOLD CORP', 'OLAPLEX HLDGS INC', 'ONCONETIX INC',
       'ONTRAK INC', 'OPENDOOR TECHNOLOGIES INC', 'OPUS GENETICS INC',
       'ORGANIGRAM HLDGS INC', 'OUTLOOK THERAPEUTICS INC', 'PALTALK INC',
       'PDS BIOTECHNOLOGY CORP', 'PRELUDE THERAPEUTICS INC',
       'PROPHASE LABS INC', 'RAPT THERAPEUTICS INC',
       'RELMADA THERAPEUTICS INC', 'REPARE THERAPEUTICS INC',
       'RESEARCH FRONTIERS INC', 'SACHEM CAP CORP',
       'SANA BIOTECHNOLOGY INC', 'SHATTUCK LABS INC',
       'SIGMATRON INTL INC', 'SNDL INC', 'SPAR GROUP INC',
       'SUTRO BIOPHARMA INC', 'TASEKO MINES LTD', 'TPI COMPOSITES INC',
       'VIGIL NEUROSCIENCE INC', 'W & T OFFSHORE INC',
       'WEREWOLF THERAPEUTICS INC', 'AKOYA BIOSCIENCES INC',
       'ALLOGENE THERAPEUTICS INC', 'ANNEXON INC', 'ANNOVIS BIO INC',
       'AXT INC', 'BINAH CAP GROUP INC', 'BLACK DIAMOND THERAPEUTICS I',
       'BOUNDLESS BIO INC', 'BRAINSTORM CELL THERAPEUTICS',
       'BRIDGER AEROSPACE GRP HLDGS', 'CABALETTA BIO INC',
       'CARDLYTICS INC', 'CARECLOUD INC', 'CASSAVA SCIENCES INC',
       'CENTURY CASINOS INC', 'CITIUS PHARMACEUTICALS INC',
       'CLEAN ENERGY FUELS CORP', 'COMMERCIAL VEH GROUP INC',
       'CREATIVE MEDIA & CMNTY TR', 'CREATIVE REALITIES INC',
       'DESTINATION XL GROUP INC', 'ENVERIC BIOSCIENCES INC',
       'ERASCA INC', 'FLORA GROWTH CORP', 'FRACTYL HEALTH INC',
       'GALIANO GOLD INC', 'GERON CORP', 'HARVARD BIOSCIENCE INC',
       'HEPION PHARMACEUTICALS INC', 'HOUR LOOP INC', 'HUMACYTE INC',
       'IGM BIOSCIENCES INC', 'INOZYME PHARMA INC',
       'INTELLIGENT PROTECTION MANAG', 'KYVERNA THERAPEUTICS INC',
       'LESLIES INC', 'LIGHTWAVE LOGIC INC', 'LONGEVITY HEALTH HLDGS INC',
       'MACKENZIE RLTY CAP INC', 'MACROGENICS INC', 'METAGENOMI INC',
       'METAVIA INC', 'MODIVCARE INC', 'MUSTANG BIO INC',
       'NEUMORA THERAPEUTICS INC.', 'NKARTA INC', 'PEPGEN INC',
       'PLIANT THERAPEUTICS INC', 'PRIME MEDICINE INC', 'Q32 BIO INC',
       'RACKSPACE TECHNOLOGY INC', 'RESHAPE LIFESCIENCES INC',
       'SHIMMICK CORPORATION', 'SPORTSMANS WHSE HLDGS INC',
       'STARDUST PWR INC', 'SUNATION ENERGY INC',
       'SUNNOVA ENERGY INTL INC.', 'TANGO THERAPEUTICS INC',
       'TELA BIO INC', 'TOPPOINT HLDGS INC', 'TRILLER GROUP INC',
       'TRUECAR INC', 'TSCAN THERAPEUTICS INC', 'VEEA INC',
       'VENTYX BIOSCIENCES INC', 'WHITEHAWK THERAPEUTICS INC',
       'ZENTALIS PHARMACEUTICALS INC', '8X8 INC NEW',
       'ARMLOGI HOLDING CORP', 'ARTIVA BIOTHERAPEUTICS INC',
       'BAYTEX ENERGY CORP', 'BEAM GLOBAL', 'BIOMEA FUSION INC',
       'CAMP4 THERAPEUTICS CORP', 'COHERUS ONCOLOGY INC',
       'COMPLETE SOLARIA INC', 'DOCGO INC', 'ERNEXA THERAPEUTICS INC',
       'FORIAN INC', 'GENASYS INC', 'GIFTIFY INC',
       'HAIN CELESTIAL GROUP INC', 'HEARTBEAM INC',
       'IOVANCE BIOTHERAPEUTICS INC', 'KOSMOS ENERGY LTD', 'LQR HSE INC',
       'MARWYNN HLDGS INC', 'OMNIAB INC', 'OPEN LENDING CORP',
       'ORGANIGRAM GLOBAL INC', 'OUTDOOR HOLDING CO', 'PLAYBOY INC',
       'QUIPT HOME MEDICAL CORP', 'TELOMIR PHARMACEUTICALS INC',
       'UPLAND SOFTWARE INC', 'VERITONE INC', 'VIVOSIM LABS INC',
       'WOLFSPEED INC'], dtype=object)

In [7]:
tmp2 = result[result.issuer_name.isin(com_less_than_2_usd)]

In [12]:
tmp2[tmp2.issuer_name == "FORIAN INC"]

,issuer_name,class_title,cusip,value_usd_thousands,shares_or_principal,shares_type,discretion,other_manager_seq,vote_sole,vote_shared,vote_none,YearQuarter,share_price
17531,FORIAN INC,COM,34630N106,8435,3905,SH,SOLE,18.0,3905,0,0,2024Q3,2.160051
17532,FORIAN INC,COM,34630N106,93480,43278,SH,SOLE,21.0,43278,0,0,2024Q3,2.159989
17533,FORIAN INC,COM,34630N106,91318,42277,SH,SOLE,22.0,42277,0,0,2024Q3,2.159992
17534,FORIAN INC,COM,34630N106,2,1,SH,SOLE,43.0,0,0,1,2024Q3,2.000000
66576,FORIAN INC,COM,34630N106,8044,3905,SH,SOLE,18.0,3905,0,0,2024Q4,2.059923
66577,FORIAN INC,COM,34630N106,89762,43574,SH,SOLE,21.0,43574,0,0,2024Q4,2.059990
66578,FORIAN INC,COM,34630N106,87091,42277,SH,SOLE,22.0,42277,0,0,2024Q4,2.060009
66579,FORIAN INC,COM,34630N106,2,1,SH,SOLE,43.0,0,0,1,2024Q4,2.000000
117176,FORIAN INC,COM,34630N106,7810,3905,SH,SOLE,18.0,3905,0,0,2025Q1,2.000000
117177,FORIAN INC,COM,34630N106,85372,42686,SH,SOLE,21.0,42686,0,0,2025Q1,2.000000
117178,FORIAN INC,COM,34630N106,84554,42277,SH,SOLE,22.0,42277,0,0,2025Q1,2.000000
117179,FORIAN INC,COM,34630N106,2,1,SH,SOLE,43.0,0,0,1,2025Q1,2.000000
167295,FORIAN INC,COM,34630N106,7654,3905,SH,SOLE,18.0,3905,0,0,2025Q2,1.960051
167296,FORIAN INC,COM,34630N106,66420,33888,SH,SOLE,21.0,33888,0,0,2025Q2,1.959986
167297,FORIAN INC,COM,34630N106,82863,42277,SH,SOLE,22.0,42277,0,0,2025Q2,1.960002
167298,FORIAN INC,COM,34630N106,2,1,SH,SOLE,43.0,0,0,1,2025Q2,2.000000

In [14]:
tmp4 = result[(result.share_price > 150)]